body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}
header {
    padding: 10px 30px;
}
header h1 {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
    padding: 1em;
    text-align: center;
}


.footer_rs {
    display: block;
    height: 60px;
    width: 166px;
    background-image: url(./data/rs_school_js.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer_gh {
    display: block;
    min-width: 62px;
    min-height: 24px;
    background-image: url(./data/github.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.reserved_footer {
    align-items: center;
    display: flex;
    font-size: 24px;
    line-height: 27px;
    text-decoration: none;
    margin-right: 50px;
    color: #30c5ff;
    font-family: Arial, serif;
}
